
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*Give some Styling to table*@
<!--<style>
    table th, td {
        border: 1px solid black;
        background-color: lightgreen;
    }
</style>-->
@*using (Html.BeginForm("Index", "Excel", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
        </div>
    }@*
